<mat-card>
    <mat-card-header>
      <mat-card-title>CONFIRMATION</mat-card-title>
      <!-- <div fxFlex></div> -->
    </mat-card-header>
    <mat-card-content>
      <div mat-dialog-content [ngClass]="title==='Warning' ? 'appearance-warn' : 'appearance-danger'">
        <mat-icon class="style-icon" style="font-size:3em;">check_circle</mat-icon>
        <p class="message-display">{{message}}</p>
      </div>
      <div mat-dialog-actions>
        <button mat-flat-button fxFlex="20%" (click)="closeDialog(true)">YES</button>
        <button mat-flat-button fxFlex="20%" (click)="closeDialog(false)">NO</button>
      </div>
    </mat-card-content>
  </mat-card>