<section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Contact
            </h4>
            <div class="box">
              <div class="img-box">
                <img src="/assets/images/telephone-symbol-button.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  +94 111234567
                </h6>
              </div>
            </div>
            <div class="box">
              <div class="img-box">
                <img src="/assets/images/email.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  medhubnexus@gmail
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_menu">
            <h4>
              Menu
            </h4>
            <ul class="navbar-nav  ">
              <li class="nav-item active" routerLinkActive="is-active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/medicine"> Medicine </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/pharmacy"> Pharmacies </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about"> About </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info_news">
            <h4>
              newsletter
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your email">
              <div class="d-flex justify-content-center justify-content-end mt-3">
                <button>
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid footer_section">
    <p>
      &copy; 2023 All Rights Reserved. Design by Group G - SC555
     | Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </p>
  </section>