<app-header></app-header>
<div class="main-container">
  <mat-stepper #stepper>
    <mat-step label="Billing">

      <div class="shipping-form">
        <form [formGroup]="shippingGroup" (ngSubmit)="onFormSubmit()">
          <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input formControlName="fname" matInput placeholder="First Name" name="firstName" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input formControlName="lname" matInput type="text" placeholder="Last Name" name="lastName" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" placeholder="Email" name="email" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Address Line 1</mat-label>
                <input formControlName="addr1" matInput type="text" placeholder="Address Line 1" name="addr1" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Address Line 2</mat-label>
                <input formControlName="addr2" matInput type="text" placeholder="Address Line 2" name="addr2" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput type="text" placeholder="City" name="city" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Postal Code</mat-label>
                <input formControlName="pcode" matInput type="text" placeholder="Postal Code" name="pcode" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Phone Number</mat-label>
                <input formControlName="pnumber" matInput type="text" placeholder="Phone Number" name="pnumber" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile style="justify-content: start;">
              <mat-form-field class="full-width">
                <mat-label>Special Notes</mat-label>
                <input formControlName="notes" matInput type="text" placeholder="Special Notes " name="notes" />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="btn-container">
            <button mat-raised-button color="primary" class="login-button" [disabled]="shippingGroup.invalid"
              (click)="stepper.next()">
              Next
            </button>
          </div>
        </form>
      </div>

    </mat-step>
    <mat-step label="Info">
      <div class="info-container">
        <table class="main-table">
          <thead>
            <tr>
              <th>Medicine</th>
              <th>Shipping</th>
              <th>Address</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Product</td>
              <td>Standard Shipping</td>
              <td>A50, Lotus Lane, Kandy</td>
              <th>100 LKR</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-container">
        <button mat-raised-button color="primary" class="login-button" (click)="stepper.previous()">
          Back
        </button>
        <button mat-raised-button color="primary" class="login-button" (click)="stepper.next()">
          Continue
        </button>
      </div>
    </mat-step>
    <mat-step label="Payment">
      <div class="payment-container">
        <h5>Select Payment Type</h5>
        <div class="payment-box-container">
          <div class="payment-box"></div>
          <div class="payment-box"></div>
        </div>
      </div>
      <div class="btn-container">
        <button mat-raised-button color="primary" class="login-button" (click)="stepper.previous()">
          Back
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
<app-footer></app-footer>