
<div>
  <table class="main-table">
      <thead>
          <tr>
              <th>PHARMACIST ID</th>
              <th>USERNAME</th>
              <th>EMAIL</th>
              <th>STATUS</th>
              <th>ACTIONS</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pharmacy of pharmacists">
              <td>{{pharmacy['pharmacistId']}}</td>
              <td>{{pharmacy['userName']}}</td>
              <th>{{pharmacy['email']}}</th>
              <td>{{pharmacy['status']}}</td>
              <td>
                  <img src="../../assets/icons/more-info2.png" matTooltip="more-info" alt="more-info" width="25px" height="25px">
                  <img src="../../assets/icons/suspend2.png" matTooltip="suspend" alt="suspend" width="25px" height="25px">
                    <img src="../../assets/icons/cross1.png" matTooltip="remove" alt="delete" width="25px" height="25px">
              </td>
          </tr>
      </tbody>
  </table>
  <div *ngIf="totalCount==0" class="noDataMsg">No Data Available</div>
        <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10, 25, 50, 100]"
          showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
</div>