.main-table {
  width: 100%;
  background-color: white;
}

.main-table thead {
  background-color: #e4e5e6;
}

.main-table thead tr th {
  padding: 10px;
  text-transform: uppercase;
  color: black;
}

.main-table tbody tr {
  border-bottom: 1px solid #e4e5e6;
}

.main-table tbody tr td {
  padding: 10px;
}