<div class="header">
    <span>PURCHASE MEDICINE</span>
</div>
<div>
    <table class="main-table">
        <thead>
            <tr>
                <th>MEDICINE</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>SUBTOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Medicine1</td>
                <td>LKR 100.00</td>
                <td>2</td>
                <td>LKR 200.00 </td>
            </tr>
        </tbody>
    </table>
    <button mat-flat-button fxFlex="20%">Proceed</button>
    <button mat-flat-button fxFlex="20%">Cancel</button>
</div>
