.main-table {
    width: 100%;
    background-color: white;
  }
  
  .main-table thead {
    background-color: #e4e5e6;
  }
  
  .main-table thead tr th {
    padding: 10px;
    text-transform: uppercase;
    color: black;
  }
  
  .main-table tbody tr {
    border-bottom: 1px solid #e4e5e6;
  }
  
  .main-table tbody tr td {
    padding: 10px;
  }

  .header{
    margin-bottom: 15px;
    background: #c1c1c1;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }
 
.main-btns{
  display: flex;
  justify-content: end;
  margin-top: 10px;
}  

.main-btns button{
  margin-right: 5px;
}

