<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile><app-dash-home-box [boxTitle]="boxTitle1"></app-dash-home-box></mat-grid-tile>
    <mat-grid-tile><app-dash-home-box [boxTitle]="boxTitle2"></app-dash-home-box></mat-grid-tile>
    <mat-grid-tile><app-dash-home-box [boxTitle]="boxTitle3"></app-dash-home-box></mat-grid-tile>
    <mat-grid-tile><app-dash-home-box [boxTitle]="boxTitle4"></app-dash-home-box></mat-grid-tile>
    <mat-grid-tile><app-dash-home-box [boxTitle]="boxTitle5"></app-dash-home-box></mat-grid-tile>
</mat-grid-list>
  
