<div class="item">
  <div class="box">
    <div class="img-box">
      <img width="250" height="250" src="../../assets/images/p-6.jpg" alt="medicine_picture">
    </div>
    <div class="detail-box">
      <!-- <div class="star_container">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div> -->
      <div class="text">
        <h6>
          <a routerLink="/medicine/1">{{data['medicineName']}}</a>
        </h6>
        <h6 class="price">
          <span>
            LKR
          </span>
          {{data['price']}}
        </h6>
      </div>
    </div>
    <div class="btn_container">
      <button id="btn_add_to_cart" class="btn btn-primary" type="button" (click)="onAddToCart()">
        Add to Cart
      </button>
      <button class="btn btn-primary" type="button" (click)="onBuy()">
        Buy Now
      </button>
    </div>
  </div>
</div>