<app-header></app-header>
<div class="container">
  <!-- Left column for menu items -->
  <div class="menu">
    <!-- Add your menu items here -->
    <div class="user_details">
      <img width="150" height="150" src="../../assets/images/pharmacy1.jpg" alt="Pharmacy_picture">
      <h3>PHARMACY1</h3>
      <div class="pharamacy-details">
        <p><strong>Location: </strong> Colombo</p>
        <p><strong>License: </strong>#12345</p>
      </div>
    </div>
  </div>

  <!-- Right column for content -->
  <div class="content">
    <section class="health_section layout_padding">
      <div class="health_carousel-container">
        <div class="grid-container">
          <div class="grid-row" *ngFor="let row of rows">
            <app-medicine-thumbnail *ngFor="let item of row"></app-medicine-thumbnail>
          </div>
        </div>
        <div *ngIf="totalCount==0" class="noDataMsg">No Data Available</div>
        <mat-paginator [length]="totalCount" [pageSizeOptions]="[8,16,32]" showFirstLastButtons
          (page)="onPageChange($event)"></mat-paginator>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>