.contact_section .custom_heading-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact_section .custom_heading-container h2::after {
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.contact_section .form_contaier form .form-group {
  margin-bottom: 20px;
}

.contact_section .form_contaier form .form-control {
  border-radius: 0;
  height: 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_section .form_contaier form .form-control#exampleInputMessage {
  height: 100px;
}

.contact_section .form_contaier form button {
  display: inline-block;
  padding: 10px 50px;
  background-color: #121313;
  border: 1px solid #121313;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
}

.contact_section .form_contaier form button:hover {
  background-color: transparent;
  color: #121313;
}

.contact_section .detail-box {
  background-image: url(/assets/images/contact-bg.jpg);
  color: #ffffff;
  padding: 140px 15%;
  text-align: center;
  margin-top: 30px;
}

.contact_section .detail-box h3 {
  font-weight: bold;
  font-size: 32px;
}

.contact_section .detail-box p {
  margin-top: 25px;
}
