<app-header></app-header>
<div class="container">
    <!-- Left column for menu items -->
    <div class="menu">
      <!-- Add your menu items here -->
      <div class="user_details">
        <img width="150" height="150" src="../../assets/images/user1.png" alt="admin_picture">
        <h3>Hello Admin!</h3>
      </div>
      <mat-list>
        <mat-list-item>HOME</mat-list-item>
        <mat-list-item>CUSTOMERS</mat-list-item>
        <mat-list-item>PHARMACIES</mat-list-item>
        <mat-list-item>REQUESTS</mat-list-item>
      </mat-list>
    </div>

    <!-- Right column for content -->
    <div class="content">
      <!-- Add your content here -->
      <h2>Content Area</h2>
      <p>This is the main content area.</p>
    </div>
  </div>
<app-footer></app-footer>
