
<div>
    <table class="main-table">
        <thead>
            <tr>
                <th>REQUEST ID</th>
                <th>PHARMACY NAME</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>111</td>
                <td>Jane's Pharmacy</td>
                <td>Pending</td>
                <td>
                    <img src="../../assets/icons/check2.png" alt="more-info" width="25px" height="25px">
                    <img src="../../assets/icons/cross1.png" alt="more-info" width="25px" height="25px">
                </td>
            </tr>
        </tbody>
    </table>
</div>