<div>
    <table class="main-table">
        <thead>
            <tr>
                <th>REQUEST ID</th>
                <th>PHARMACY ID</th>
                <th>USERNAME</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests; index as i">
                <td>{{request['requestId']}}</td>
                <td>{{request['pharmacyId']}}</td>
                <td>{{request['pharamacyUsername']}}</td>
                <td>{{request['status']}}</td>
                <td>
                    <img src="../../assets/icons/check2.png" (click)="onApprove(i)" matTooltip="approve" alt="approve"
                        width="25px" height="25px">
                    <img src="../../assets/icons/cross1.png" (click)="onDeny(i)" matTooltip="deny" alt="deny"
                        width="25px" height="25px">
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="totalCount==0" class="noDataMsg">No Data Available</div>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons
        (page)="onPageChange($event)"></mat-paginator>
</div>