
  <!-- about section -->
  <app-header></app-header>
  <section class="about_section layout_padding">
    <div class="container">
      <div class="custom_heading-container ">
        <h2>
          About Us
        </h2>
      </div>

      <div class="img-box">
        <img src="/assets/images/about-medicine.png" alt="">
      </div>
      <div class="detail-box">
        <p>
          The MedHubNexus Pharmacy Management System is a project that aims to make managing
pharmacies and finding medicines easier. It helps pharmacists and customers in different ways.
        </p>
        <div class="d-flex justify-content-center">
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>


 