.container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container mat-list-item {
  cursor: pointer;
  margin-bottom: 2px;
}

.user_details {
  margin-bottom: 20px;
  text-align: center;
}

.user_details img {
  border-radius: 50%;
  margin-bottom: 20px;
}

mat-list-item:hover {
  background-color: rgb(228, 207, 89);
  border-radius: 10px;
}

::ng-deep .mat-list-base .mat-list-item-disabled {
  background-color: #e0e0e0;
}

::ng-deep .mat-list-item-content{
  justify-content: center;
  font-weight: bold;
}

.menu {
  flex: 1;
  min-width: 200px;
  background-color: #e0e0e0;
  padding: 16px;
}

.content {
  flex: 3;
  background-color: #f0f0f0;
  padding: 16px;
}

.content h2 {
  margin-top: 40px;
  margin-left: 20px;
}

.content hr {
  margin-bottom: 30px;
}

.mat-list-select{
  background-color: rgb(228, 207, 89);
  border-radius: 10px;
}
