<div class="header">
  <img src="/assets/images/logo.png" alt="log/reg form" />
  <span>MEDHUBNEXUS LOGIN/REGISTER</span>
</div>
<div>
  <p>
    Select Type:&nbsp;
    <mat-button-toggle-group [formControl]="userTypeControl" name="userType" aria-label="user type" (valueChange)="onChangeUserType()">
      <mat-button-toggle value="CUSTOMER">Customer</mat-button-toggle>
      <mat-button-toggle value="PHARMACY">Pharmacy</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</div>
<div class="container">
  <div class="content">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email" name="email" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" placeholder="Enter your password" name="password"
              required />
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button" [disabled]="loginFormGroup.invalid">
            Login
          </button>
          <div *ngIf="showProgressBar" class="spinner">
            <mat-spinner [diameter]="20"></mat-spinner><span>Logging In</span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="border-left:1px solid rgba(0,0,0,.1);height:400px"></div>

  <!-- Right column for content -->
  <div class="content">
    <mat-card class="register-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerFormGroup">
<!--          <mat-form-field class="full-width">-->
<!--            <mat-label>Username</mat-label>-->
<!--            <input formControlName="login" matInput placeholder="Enter your username" name="username" required />-->
<!--          </mat-form-field>-->
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Enter your email" name="email" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" placeholder="Enter your password" name="password"
              required />
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'CUSTOMER'" class="full-width">
            <mat-label>Full Name <span>*</span></mat-label>
            <input formControlName="fullName" matInput placeholder="Full Name"/>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'PHARMACY'" class="full-width">
            <mat-label>Registration No <span>*</span></mat-label>
            <input formControlName="regNo" matInput placeholder="Registration No"/>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'PHARMACY'" class="full-width">
            <mat-label>Name <span>*</span></mat-label>
            <input formControlName="name" matInput placeholder="Name"/>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'CUSTOMER'" class="full-width">
            <mat-label>NIC</mat-label>
            <input formControlName="nic" matInput placeholder="NIC"/>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'CUSTOMER'" class="full-width">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" placeholder="Gender">
              <mat-option value="MALE">Male</mat-option>
              <mat-option value="FEMALE">Female</mat-option>
              <mat-option value="UNKNOWN">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'CUSTOMER'" class="full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="dobPicker" placeholder="Date of Birth" formControlName="dob" readonly>
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 1</mat-label>
            <textarea formControlName="addressLine1" matInput placeholder="Address Line 1"></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address Line 2</mat-label>
            <textarea formControlName="addressLine2" matInput placeholder="Address Line 2"></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="City"/>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>District</mat-label>
            <mat-select formControlName="district" placeholder="District">
              <mat-option value="Colombo">Colombo</mat-option>
              <mat-option value="Gamapaha">Gamapaha</mat-option>
              <mat-option value="Kalutara">Kalutara</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeControl.value == 'CUSTOMER'" class="full-width">
            <mat-label>Postal Code</mat-label>
            <input formControlName="postalCode" matInput placeholder="Postal Code"/>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Telephone</mat-label>
            <input formControlName="telephone" matInput placeholder="Telephone"/>
          </mat-form-field>

          <div *ngIf="showProgressBar" class="spinner">
            <mat-spinner [diameter]="20"></mat-spinner><span>Registering</span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div class="mt-2" align="end">
      <button mat-raised-button color="primary" (click)="onRegister()" class="login-button" [disabled]="registerFormGroup.invalid || isInvalidForm()">
        REGISTER
      </button>
    </div>

  </div>
</div>
