<!-- <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'> -->

<app-header></app-header>

<div class="main-container">

  <!-- <div class="card">
    <div class="demo">
        <ul id="lightSlider">
            <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img src="https://i.imgur.com/KZpuufK.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img src="https://i.imgur.com/KZpuufK.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img src="https://i.imgur.com/KZpuufK.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" />
            </li>
            <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" />
            </li>
        </ul>
    </div>
</div> -->

  <div class="product-container">
    <div class="column-1">
      <!-- <img src="/assets/images/p-1.jpg" alt="Product Image" class="product-image"> -->

      
      
    </div>
    <div class="column-2">
      <div class="price">Price: $100</div>
      <div class="description">Description</div>
      <button class="mat-raised-button">Add to Cart</button>
      <button class="mat-raised-button">Buy Now</button>
    </div>
    <div class="column-3">
      <div class="seller-details">
        <h3>Seller Details</h3>
        <p>Seller: John Doe</p>
        <p>Contact: john@example.com</p>
      </div>
    </div>
  </div>
    <!-- product-details.component.html -->
  
    <!-- ... (previous content) ... -->
  
    <div class="reviews-section">
      <h2>Reviews/Comments</h2>
      <div class="review-form">
        <h3>Add a Review</h3>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
  
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" rows="4" required></textarea>
  
          <button type="submit">Submit</button>
        </form>
      </div>
  
      <div class="review-list">
        <!-- Sample review, you can dynamically populate this section with Angular -->
        <div class="review">
          <h4>John Doe</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </div>
      </div>
    </div>
</div>
<!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script> $('#lightSlider').lightSlider({ gallery: true, item: 1, loop: true, slideMargin: 0, thumbItem: 9 });
</script> -->
<app-footer></app-footer>