<div class="header">
    <span>ADD NEW LISTING</span>
  </div>
  <div class="container">
    <div class="content">
      <mat-card class="listing-card">
        <mat-card-content>
          <form [formGroup]="createListingGroup" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="full-width">
              <mat-label>Drug Name</mat-label>
              <input formControlName="drugName" matInput placeholder="Enter your username" name="username" />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Manufacturer Name</mat-label>
              <input formControlName="manuName" matInput type="password" placeholder="Enter your password"
                name="password" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="from-date">
              <mat-label>Manufactured Date</mat-label>
              <input formControlName="manuDate" [matDatepicker]="frompicker"
                style="height: 14px; margin-top: -5px; display: block;" matInput readonly>
              <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
              <mat-datepicker #frompicker color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="start-date">
              <mat-label>Expire Date</mat-label>
              <input formControlName="expDate" [matDatepicker]="topicker"
                style="height: 14px; margin-top: -5px; display: block;" matInput readonly>
              <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
              <mat-datepicker #topicker color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Price</mat-label>
              <input formControlName="price" matInput type="password" placeholder="Enter your password" name="password" />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Qunatity</mat-label>
              <input formControlName="quantity" matInput type="password" placeholder="Enter your password"
                name="password" />
            </mat-form-field>
  
            <button mat-raised-button color="primary" class="login-button" [disabled]="createListingGroup.invalid">
              CREATE
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div style="border-left:1px solid rgba(0,0,0,.1);height:400px"></div>
  </div>
