
<div>
    <table class="main-table">
        <thead>
            <tr>
                <th>ORDER ID</th>
                <th>MEDICINE</th>
                <th>QUANTITY</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>111</td>
                <td>Asprin</td>
                <td>10</td>
                <td>Shipped</td>
                <td><img src="../../assets/icons/more-info1.png" alt="more-info" width="50px" height="50px"></td>
            </tr>
        </tbody>
    </table>
</div>