<div>
  <button
    mat-raised-button
    color="primary"
    class="addBtn"
    (click)="openAddBrand()"
  >
    ADD BRAND
  </button>
  <table class="main-table">
    <thead>
      <tr>
        <th>CODE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{ brand["code"] }}</td>
        <td>{{ brand["name"] }}</td>
        <td>{{ brand["description"] }}</td>
        <td>
          <img
            src="../../assets/icons/more-info2.png"
            matTooltip="more-info"
            alt="more-info"
            width="25px"
            height="25px"
          />
          <img
            src="../../assets/icons/cross1.png"
            matTooltip="cancel"
            (click)="onCancelClicked()"
            alt="more-info"
            width="25px"
            height="25px"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="totalCount == 0" class="noDataMsg">No Data Available</div>
  <mat-paginator
    [length]="totalCount"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  ></mat-paginator>
  <mat-card class="login-card" *ngIf="addBrandFormVisible">
    <mat-card-header>
      <mat-card-title>Add Brand</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="brandFormGroup" (ngSubmit)="addBrand()">
        <mat-form-field class="full-width">
          <mat-label>Code</mat-label>
          <input
            formControlName="code"
            matInput
            placeholder="Enter brand code"
            name="code"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Enter brand name"
            name="name"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input
            formControlName="description"
            matInput
            placeholder="Enter brand description"
            name="description"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          [disabled]="brandFormGroup.invalid"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          class="login-button"
        >
          Cancel
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
