<div>
    <table class="main-table">
        <thead>
            <tr>
                <th>USER ID</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer['userId']}}</td>
                <td>{{customer['userName']}}</td>
                <td>{{customer['email']}}</td>
                <td>{{customer['status']}}</td>
                <td>
                    <img src="../../assets/icons/suspend2.png" matTooltip="suspend" alt="suspend" width="25px" height="25px">
                    <img src="../../assets/icons/cross1.png" matTooltip="remove" alt="delete" width="25px" height="25px">
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="totalCount==0" class="noDataMsg">No Data Available</div>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons
        (page)="onPageChange($event)"></mat-paginator>
</div>