<div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="img-box">
            <img src="/assets/images/medicine.png" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="detail-box">
            <h1>
              Welcome To <br>
              <span>
                MedHubNexus
              </span>

            </h1>
            <p>
              Discover a new era in pharmacy management and medication access with MedHubNexus! Say goodbye to delays and hello to efficiency.
              Find medicines in seconds, enjoy rapid prescription processing, and secure online purchases.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
