
<mat-card>
    <mat-card-content>
        <mat-form-field class="searchType">
            <input matInput [(ngModel)]="searchText" placeholder="Search">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Search Type</mat-label>
            <mat-select [(ngModel)]="selectedSearchType">
                <mat-option *ngFor="let type of searchTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <button mat-raised-button color="primary" (click)="search()">Search</button>
    </mat-card-content>
</mat-card>
<!-- <mat-form-field>
    <input matInput [(ngModel)]="searchText" placeholder="Search">
</mat-form-field>

<mat-form-field>
    <mat-label>Search Type</mat-label>
    <mat-select [(ngModel)]="selectedSearchType">
        <mat-option *ngFor="let type of searchTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="search()">Search</button> -->