<app-header></app-header>
<app-search [searchTypes]="searchTypes"></app-search>
<section class="health_section layout_padding">
    <div class="health_carousel-container">
      <h2 class="text-uppercase">
        Vitamins & Supplements</h2>
      <div class="carousel-wrap layout_padding2">
        <div class="owl-carousel owl-2">
          <app-medicine-thumbnail></app-medicine-thumbnail>
          <app-medicine-thumbnail></app-medicine-thumbnail>
          <app-medicine-thumbnail></app-medicine-thumbnail>
          <app-medicine-thumbnail></app-medicine-thumbnail>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>
  

